@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    gap: 50px;
}

/* --------------------- SIDEBAR --------------------------- */

.main-sidebar{
    padding: 20px;
    background-color: #200C34;
}


/* --------------------- ROADMAP --------------------------- */

.main-roadmap{
    margin-top: 20px;
    margin-right: 50px;
}

.main-roadmap header h1{
    font-size: 20px;
    font-weight: 600;
}

.main-roadmap .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 24px;
    gap: 16px;
}

.main-roadmap .grid-container h1{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #5D6372;
}

.main-roadmap .grid-container h2{
    font-size: 14px;
    font-weight: 600;
    color: #5D6372;
}

.main-roadmap .grid-container .main-content{
    border: 1px solid #F2F2F4;
    padding: 12px;
    border-radius: 5px;
    /* max-width: 306px; */
    
}

.main-roadmap .grid-container .main-content .add-task{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    cursor: pointer;
}

.main-roadmap .grid-container .main-content p{
    font-size: 14px;
}

.main-roadmap .grid-container .main-content .task p{
    color: #B7BDC9;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}

/* --------------------- TASK CONTAINER --------------------------- */

.task-container{
    margin-top: 16px;
    border: 1px solid #dbdbdb;
    padding: 16px;
    border-radius: 5px;
}

.main-roadmap .grid-container .task-container h1{
    font-size: 14px;
    font-weight: 600;
    color: black;
    /* max-width: 250px; */
}

.task-container .footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    align-items: center;
}

.task-container .footer-container .percentage-section{
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-container .footer-container .percentage-section h3{
    font-size: 12px;
    font-weight: 400;
    color: #5D6372;
}

.task-container .footer-container .options-section{
    cursor: pointer;
}

